@import "../utils/variables";

.dark .garant {
  background-color: $dark-color;
  &__title {
    color: $white-color;
  }
  &__item {
    color: #999;
    &::after {
      position: absolute;
      content: "";
      width: 5px;
      height: 5px;
      background-color: #999;
      border-radius: 5px;
      top: 12px;
      left: 0;
      @media (max-width: 700px) {
        width: 3px;
        height: 3px;
        border-radius: 3px;
        top: 8px;
      }
    }
  }
  &__text {
    color: #999;
    opacity: 60%;
  }
}
