@font-face {
  font-family: "M200";
  src: url(../../fonts/Manrope-ExtraLight.ttf);
}

@font-face {
  font-family: "M300";
  src: url(../../fonts/Manrope-Light.ttf);
}

@font-face {
  font-family: "M400";
  src: url(../../fonts/Manrope-Regular.ttf);
}

@font-face {
  font-family: "M500";
  src: url(../../fonts/Manrope-Medium.ttf);
}

@font-face {
  font-family: "M600";
  src: url(../../fonts/Manrope-SemiBold.ttf);
}

@font-face {
  font-family: "M700";
  src: url(../../fonts/Manrope-Bold.ttf);
}

@font-face {
  font-family: "M800";
  src: url(../../fonts/Manrope-ExtraBold.ttf);
}
