@font-face {
  font-family: "M200";
  src: url(../fonts/Manrope-Bold.woff);
}

@font-face {
  font-family: "M300";
  src: url(../fonts/Manrope-Light.woff);
}

@font-face {
  font-family: "M400";
  src: url(../fonts/Manrope-Regular.woff);
}

@font-face {
  font-family: "M500";
  src: url(../fonts/Manrope-Medium.woff);
}

@font-face {
  font-family: "M600";
  src: url(../fonts/Manrope-SemiBold.woff);
}

@font-face {
  font-family: "M700";
  src: url(../fonts/Manrope-Bold.woff);
}

@font-face {
  font-family: "M800";
  src: url(../fonts/Manrope-ExtraBold.woff);
}
