* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", "sans-serif";
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
i {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

input,
textarea {
  outline: none;
  border: none;
  resize: none;
}

#nav.nav-shrink {
  padding: 10px 0px;
  box-shadow: 0px 0px 15px 5px $primary-color;
}

#loading {
  position: fixed;
  background-color: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  transition: 0.5s;
}

#loading.loading-none {
  width: 100%;
  opacity: 0;
  z-index: -100000 !important;
}

.backtop {
  position: fixed;
  top: auto;
  right: 50%;
  left: 50%;
  bottom: -60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  font-size: 50px;
  transition: 250ms;
  z-index: 10;
  background-color: $dark-color;
  @media (max-width: 760px) {
    right: 15px;
    left: auto;
  }
  &__img {
    max-width: 15px;
  }
}

#backtop.backtop-show {
  top: auto;
  bottom: 10px;
  right: 50%;

  @media (max-width: 760px) {
    right: 10px;
    left: auto;
    bottom: 80px;
  }
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.context {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
  @media (max-width: 700px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 20px;
  }
  &__text {
    font-family: "M700";
    font-size: 40px;
    line-height: 55px;
    color: $primary-color;
    @media (max-width: 700px) {
      font-size: 28px;
      line-height: 38px;
    }
  }
  &__btn {
    border: 1px solid $primary-color;
    border-radius: 100px;
    padding: 14px 48px;
    font-family: "M500";
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: $primary-color;
    @media (max-width: 700px) {
      width: 100%;
    }
  }
  &__img {
    max-width: 20px;
  }
}
.title {
  display: flex;
  max-width: 319px;
  font-family: "M700";
  font-size: 64px;
  line-height: 70px;
  color: $primary-color;
  @media (max-width: 700px) {
    font-size: 28px;
    line-height: 38px;
  }
}
