@import "../themes/favorites-dark";

.favorites {
  padding: 50px 0px;
  &__wrapper {
    padding-top: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 700px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      gap: 8px;
    }
    @media (max-width: 320px) {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
