@import "../utils/variables";
@import "../themes/payment-dark";

.payment {
  padding: 50px 0px;
  @media (max-width: 900px) {
    padding: 30px 0px;
  }
  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
    @media (max-width: 450px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__info {
    max-width: 640px;
    padding-bottom: 56px;
  }
  &__title {
    font-family: "M600";
    font-size: 24px;
    line-height: 34px;
    color: $primary-color;
    margin-bottom: 28px;
    animation-name: payment;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-delay: 0.6s;
    @media (max-width: 700px) {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 12px;
    }
  }
  &__text {
    width: 100%;
    font-family: "M400";
    font-size: 20px;
    line-height: 28px;
    color: $dark-color;
    margin-bottom: 60px;
    animation-name: payment;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-delay: 0.9s;
    @media (max-width: 700px) {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 24px;
    }
  }
  &__blue {
    font-family: "M400";
    font-size: 20px;
    line-height: 28px;
    color: $secondary-color;
    @media (max-width: 700px) {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

// keyframe
@keyframes payment {
  0% {
    transform: translate(20px, 10px) scale(0.98);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
