@import "../utils/variables";
@import "../themes/return-dark";

.return {
  padding: 50px 0px;
  @media (max-width: 900px) {
    padding: 30px 0px;
  }
  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
    @media (max-width: 450px) {
      flex-direction: column;
    }
  }
  &__info {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__title {
    font-family: "M600";
    font-size: 24px;
    line-height: 34px;
    color: $primary-color;
    margin-bottom: 28px;
    animation-name: return;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-delay: 0.6s;
    @media (max-width: 700px) {
      font-size: 20px;
      line-height: 28px;
    }
  }
  &__text {
    font-family: "M400";
    font-size: 20px;
    line-height: 28px;
    color: $dark-color;
    margin-bottom: 24px;
    animation-name: return;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-delay: 0.9s;
    @media (max-width: 700px) {
      font-size: 16px;
      line-height: 22px;
    }
  }
  &__list {
    margin-bottom: 60px;
  }
  &__item {
    position: relative;
    padding-left: 25px;
    color: $secondary-color;
    font-family: "M400";
    font-size: 20px;
    line-height: 28px;
    animation-name: return;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-delay: 1s;
    @media (max-width: 700px) {
      font-size: 16px;
      line-height: 22px;
    }
    &::after {
      position: absolute;
      content: "";
      width: 5px;
      height: 5px;
      background-color: $secondary-color;
      border-radius: 5px;
      top: 12px;
      left: 0;
      @media (max-width: 700px) {
        width: 3px;
        height: 3px;
        border-radius: 3px;
        top: 8px;
      }
    }
  }
}

// keyframe
@keyframes return {
  0% {
    transform: translate(20px, 10px) scale(0.98);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
