@import "../utils/variables";

.edit__category {
  &__overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #0005;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__modal {
    position: fixed;
    top: 40% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border-radius: 14px;
    background-color: $white-color;
    z-index: -1;
    overflow: hidden;
    transition: all 500ms;
    &.show {
      top: 50% !important;
      z-index: 20000000000000;
      transition: all 500ms;
      animation-name: modal;
      animation-duration: 0.3s;
      animation-timing-function: linear;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: both;
      animation-delay: 0.2s;
    }
    @media (max-width: 700px) {
      max-width: 400px;
      overflow-y: auto;
    }
  }
  &__top {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  &__close {
    width: 100%;
    max-width: 20px;
    cursor: pointer;
  }
  &__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 5px;
  }
  &__label {
    font-family: "M400";
    font-size: 18px;
    line-height: 24px;
    color: $primary-color;
  }
  &__input {
    display: flex;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color: #ddd9;
    border: none;
    outline: none;
    font-family: "M400";
    font-size: 16px;
    line-height: 22px;
    color: $primary-color;
    &::placeholder {
      font-family: "M400";
      font-size: 16px;
      line-height: 22px;
      color: $primary-color;
      opacity: 60%;
    }
  }
  &__textarea {
    display: flex;
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 4px;
    background-color: #ddd9;
    border: none;
    outline: none;
    font-family: "M400";
    font-size: 16px;
    line-height: 22px;
    color: $primary-color;
    &::placeholder {
      font-family: "M400";
      font-size: 16px;
      line-height: 22px;
      color: $primary-color;
      opacity: 60%;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "M500";
    font-size: 18px;
    line-height: 26px;
    padding: 8px 0px;
    width: 200px;
    background-color: $primary-color;
    color: $white-color;
    border-radius: 8px;
  }
}

@keyframes modal {
  0% {
    transform: translate(-50%, -60%);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -55%);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
